.logInBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-first);
  border-radius: 4px;
  margin: 8px 8px 30px 8px;
  padding: 5px 20px;
  cursor: pointer;
  gap: 4px;
  transition: .2s;
}

.logInBox:hover {
  color: var(--text-second);
  transition: .2s;
}