.page_wrapper {
    position: relative;
    width: 100%;
    height: 100svh;
    background-image: url("../../../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

}

.character {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    user-select: none;
    pointer-events: none 
}

.main_box {
    position: relative;
    z-index: 2;
}

.vid_box {
    z-index: 1;
}

.main_box {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 50px;
    margin-top: 160px;
}


.h1 {
    font-size: 48px;
}

.span {
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: -4px;
}

.vid_box {
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 12px;
}


.vid {
    width: 270px;
    height: 150px;
}



.buttons_box {
    display: flex;
    gap: 12px;
}

.installations {
    background-color: var(--dark-first);
    border: none;
    padding: 4px;
    height: 100%;
    color: var(--text-main);
    outline: none;
}


.bloc_box {
    height: 153px;
    width: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    transition: .2s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.bloc_box:hover {
    background-size: 110%;
    transition: .2s;
}

.block_img {
    transition: .2s;
}

.block_img:hover {
    transform: scale(1.1);
    transition: .2s;
}

.bloc_text {
    position: absolute;
    bottom: 8px;
    left: 8px;
    user-select: none;
}

/* .block_box_editions {
    background-image: url("../../../assets/game_accounts.png");
}

.block_box_forum {
    background-image: url("../../../assets/game_wiki.png");
} */
