@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* <weight>: Use a value from 100 to 900 */
  font-family: "Lexend", sans-serif;
  font-size: 14px;
}

:root {
  --white-text: #ffffff;
  --gray-1: rgb(95, 95, 95);
  --gray-2: rgba(110, 110, 110, 0.432);
  --background-main: #171615;
  --background-second: #262423;
  --dark-3: #1a1817;
  --brand-color-1: #735B42;
  --brand-color-2: #3F3326;
  --brand-color-3: #967756;




  --text-thin: 100;
  --text-bold: 500;



  
  --brand: #996125;
  --success: #3FBD40;
  --warning: #F4AD39;
  --error: #FD4D64;
  --link: #5653F0;
  --link-hover: #706EEE;

  --dark-basement: #10131A;
  --dark-background: #141821;
  --dark-first: #1A202C;
  --dark-second: #1E2736;
  --dark-third: #212C3E;

  --text-main: #F6F7F9;
  --text-second: #A8A8A8;
  --text-muted: #5E5E5E;
  --text-dark: #080808;
}

body {
  background-color: var(--dark-basement);
  color: var(--text-main);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--dark-background);
}

/* ::-webkit-scrollbar-track {

} */

::-webkit-scrollbar-thumb {
  background-color: var(--dark-second);
}