.header {
  background-color: #262423;
  display: flex;
  gap: 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.link_box {
  position: relative;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.link_box a {
  color: var(--white-text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-indicator {
  width: 30px;
  height: 4px;
  position: absolute;
  bottom: 0;
}

.page-active {
  background-color: green;
}

/* .page-deactive {
  background-color: red;
} */