.main_wrapper {
  display: flex;
  flex-direction: column;
}





.body {
  background-image: url("../../../assets/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}



.basement {
  background-color: #262423;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 14px;
  color: var(--white-text);
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play_btn {
  /* background-image: url("./play-btn-img.png"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  border: none;
  background-color: transparent;
  color: white; */
}


.installations {
  background-color: var(--background-second);
  color: var(--white);
  padding: 8px 12px;
  outline: none;
  border: 2px solid var(--brand-color-1);
  cursor: pointer;
}


.blog_bog {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}