.blog_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}

.blog {
    display: flex;
    flex-direction: column;
    background-color: var(--background-second);
    padding: 12px;
}

.blog a {
    text-decoration: none;
    color: var(--link);
}

.blog_header {
    display: flex;
    gap: 12px;
}

.blog_header_avatar {
    justify-content: center;
    align-items: center;
}


.blog_header {
    margin-bottom: 20px;
}

.blog_header img {
    max-width: 50px;
    border-radius: 900px;
    object-fit: cover;
}

.blog_header h2 a {
    color: var(--white-text);
    text-decoration: none;
    font-weight: var(--text-bold);
}

.blog_body img {
    max-width: 100%;
}

.blog_body ul {
    margin-top: 20px;
    margin-left: 20px;
}

.blog_body ul li {
    font-weight: var(--text-thin);
}