.page_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.page_header {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    border-bottom: 1px solid var(--gray-2);
    font-weight: var(--text-bold);
    font-size: 20px;
}

.page_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page_body_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.foler_box_change {
    display: flex;
}


.icon_box {
    display: flex;
}

.name_box {
    display: flex;
    flex-direction: column;
}

.version_input {
    display: flex;
}

.input {
    border: 2px solid var(--brand-color-1);
    background-color: var(--background-second);
    color: var(--text-white);
    padding: 4px 8px;
    outline: none;
}

.input_icon {
    margin: auto;
}

.mod_box {
    display: flex;
    justify-content: space-between;
}

.folder_btn {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: var(--text-white);
    padding: 4px;
    cursor: pointer;
}





.page_basement {
    display: flex;
    border-top: 1px solid var(--background-second);
    padding-top: 20px;
}

.basement_btns_box {
    display: flex;
    margin-left: auto;
    gap: 8px;
    padding-right: 16px;
}

.basement_btn {
    padding: 8px 24px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid var(--gray-1);
    cursor: pointer;
    color: var(--text-white);
}

.basement_btn:hover {
    background-color: var(--gray-2);
}

.basement_btn_main {
    background-color: var(--brand-color-1);
    border: none;
}

.basement_btn_main:hover {
    background-color: var(--brand-color-1);
    filter: brightness(1.5);
}