.loginbox {
    padding: 8px;
    display: flex;
    width: 100%;
    background-color: var(--dark-second);
    border-radius: 4px;
    color: var(--text-second);
}

.page_wrapper {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: relative;
    overflow: auto;
}

.settings_box {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-first);
    border-radius: 4px;
}

.header {
    background-color: var(--dark-second);
    padding: 8px 12px;
    border-radius: 4px 4px 0px 0px;
}

.page_body_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 50px;
}

.foler_box_change {
    display: flex;
    width: 100%;
}

.input_box_name {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.setting_box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.name_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name_muted {
    color: var(--text-muted);
}

.name_box_text {
    display: flex;
    flex-direction: column;
}

.setting_name {
    display: flex;
    width: 160px;
    justify-content: end;
}


.version_input {
    display: flex;
}

.input {
    border: none;
    background-color: var(--dark-second);
    border-radius: 4px;
    color: var(--text-white);
    padding: 4px 8px;
    outline: none;
    height: 100%;
    display: flex;
    width: 100%;
}


.input_icon {
    margin: auto;
}

.input_mods {
    max-height: 365px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.mods_grid {
    gap: 12px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch; /* важно */
}


.mod_box {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-third);
    border-radius: 4px;
    overflow: hidden;
    gap: 4px;
    min-width: 0;
    aspect-ratio: 1 / 1;
    position: relative;
}

.mod_box img {
    object-fit: cover;
}

.mod_basement {
    position: absolute;
    width: 100%;
    background-color: var(--dark-third);
    display: flex;
    flex-direction: column;

    bottom: 0;
    height: 33%;
}

.mod_name {
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-main);
}

.link_to_mod {
    position: absolute;
    right: 0;
    padding: 4px;
    background-color: var(--dark-third);
    margin: 4px;
    top: -35px;
    transition: .2s;
    color: var(--link);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.link_to_mod:hover {
    color: var(--link-hover);
}

.mod_box:hover .link_to_mod {
    top: 0;
    transition: .2s;
}

.mod_version {
    color: var(--text-second);
    padding: 0px 4px;
}


.mod_delete_btn {
    margin-top: auto;
    border: none;
    background-color: var(--text-main);
    cursor: pointer;
}

.folder_btn {
    background-color: var(--dark-second);
    border-radius: 4px;
    border: none;
    color: var(--text-main);
    padding: 4px;
    cursor: pointer;
    height: 26px;
    width: 26px;
}

.folder_box {
    display: flex;
    gap: 8px;
    width: 100%;
}

.icon_box {
    background-color: var(--dark-second);
    border-radius: 4px;
    max-height: 100%;
    display: flex;
}





.page_basement {
    display: flex;
    margin-top: 20px;
}

.basement_btns_box {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.basement_btn {
    padding: 8px 40px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid var(--dark-first);
    cursor: pointer;
    color: var(--text-main);
    border-radius: 4px;
    transition: .2s;

    overflow: hidden;
}



.basement_btn:hover {
    background-color: var(--dark-second);
    transition: .2s;
}

.basement_btn_main {
    background-color: var(--dark-first);
    border: none;
    transition: .2s;
}

.basement_btn_main:hover {
    background-color: var(--dark-second);
    transition: .2s;
    filter: brightness(1.5);
}


.select_icon {
    max-width: 100px;
}


.mods_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.mods_export_import_btns_box {
    display: flex;
    justify-content: end;
    gap: 12px;
    user-select: none;
}

.mod_export_import_btn {
    background-color: var(--dark-second);
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.mod_export_import_btn:hover {
    background-color: var(--dark-third);
    transition: .2s;
}





.mod_export_import_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.mod_export_import_overlay_box {
    margin-left: 150px; /* to centre because of header 150px and проебался короче с оверлеем и это костыль */
    background-color: var(--dark-first);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mod_export_import_overlay_header {
    margin-bottom: 12px;
    font-size: 24px;
}

.mod_export_import_overlay_input {
    width: 800px;
    height: 200px;
    background-color: var(--dark-second);
    border: none;
    color: var(--text-second);
    outline: none;
    padding: 8px;
    resize: none;
}

.mod_export_import_overlay_btns_box {
    display: flex;
    gap: 12px;
    user-select: none;
}

.mod_export_import_overlay_btn_primary {
    margin-top: 12px;
    background-color: var(--dark-second);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.mod_export_import_overlay_btn_primary:hover {
    background-color: var(--dark-third);
    transition: .2s;
}

.mod_export_import_overlay_btn {
    margin-top: 12px;
    border: 1px solid var(--dark-second);
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.mod_export_import_overlay_btn:hover {
    background-color: var(--dark-third);
    transition: .2s;
}