.loginbox {
    padding: 8px;
    display: flex;
    width: 100%;
    background-color: var(--dark-second);
    border-radius: 4px;
    color: var(--text-second);
}

.page_wrapper {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.settings_box {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-first);
    border-radius: 4px;
}

.header {
    background-color: var(--dark-second);
    padding: 8px 12px;
    border-radius: 4px 4px 0px 0px;
}

.page_body_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 50px;
}

.foler_box_change {
    display: flex;
    width: 100%;
}

.input_box_name {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.setting_box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.name_box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name_muted {
    color: var(--text-muted);
}

.name_box_text {
    display: flex;
    flex-direction: column;
}

.setting_name {
    display: flex;
    width: 160px;
    justify-content: end;
}


.version_input {
    display: flex;
}

.input {
    border: none;
    background-color: var(--dark-second);
    border-radius: 4px;
    color: var(--text-white);
    padding: 4px 8px;
    outline: none;
    height: 100%;
    display: flex;
    width: 100%;
}


.input_icon {
    margin: auto;
}

.mod_box {
    display: flex;
    justify-content: space-between;
}

.folder_btn {
    background-color: var(--dark-second);
    border-radius: 4px;
    border: none;
    color: var(--text-white);
    padding: 4px;
    cursor: pointer;
    height: 26px;
    width: 26px;
}

.folder_box {
    display: flex;
    gap: 8px;
    width: 100%;
}

.icon_box {
    background-color: var(--dark-second);
    border-radius: 4px;
    max-height: 100%;
    display: flex;
}





.page_basement {
    display: flex;
    margin-top: 20px;
}

.basement_btns_box {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.basement_btn {
    padding: 8px 40px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid var(--dark-first);
    cursor: pointer;
    color: var(--text-main);
    border-radius: 4px;
    transition: .2s;
}

.basement_btn:hover {
    background-color: var(--dark-second);
    transition: .2s;
}

.basement_btn_main {
    background-color: var(--dark-first);
    border: none;
    transition: .2s;
}

.basement_btn_main:hover {
    background-color: var(--dark-second);
    transition: .2s;
    filter: brightness(1.5);
}


.select_icon {
    max-width: 100px;
}