.page_wrapper {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search_input {
    background-color: var(--background-main);
    border: 1px solid var(--brand-color-1);
    padding: 8px 12px;
    outline: none;
    color: var(--text-white);
    border-radius: 4px;
}

.select_input {
    background-color: var(--gray-1);
    padding: 8px 12px;
    outline: none;
    color: var(--text-white);
    border: none;
    border-radius: 4px;
}



.releases_v {
    display: flex;
    gap: 12px;
}

.checkbox_box {
    display: flex;
    gap: 4px;
}

.installs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.install {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-first);
    border-radius: 4px;
    padding: 0px 12px 0px 0px;
}

.left_box {
    display: flex;
}

.img {
    max-width: 70px;
}

.name_verison_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}


.right_box {
    display: flex;
    gap: 8px;
}

.installation_button {
    padding: 8px;
    outline: none;
    border: 1px solid var(--dark-third);
    background-color: #12121200;
    color: var(--text-white);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.installation_button:hover {
    background-color: var(--dark-third);
}

.installation_button_play {
    background-color: var(--brand);
    border: none;
    padding: 0px 24px;
}

.installation_button_play:hover {
    background-color: var(--brand);
}




.new_install_button {
    color: var(--text-main);
    text-decoration: none;
    background-color: var(--dark-first);
    padding: 8px 24px;
}

.new_install_button:hover {
    background-color: var(--dark-second);
}

.new_install {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}


.version {
    color: var(--gray-1);
}




.installation_button_more_box {
    position: relative;
}



.installation_button_buttons_box {
    position: absolute;
    z-index: 10;
    /* left: -70%; */
    background-color: var(--dark-second);
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: 0px 0px 10px rgb(10, 10, 10);

    visibility: hidden;
}

.installation_button_buttons_box_visible {
    visibility: visible;
}

.more_button {
    cursor: pointer;
    background-color: none;
    border: none;
    background: none;
    color: var(--text-main);
    display: flex;
    padding: 8px 12px;
}

.more_button:hover {
    background-color: var(--dark-third);
}









.no_installations_box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-second);
    border-radius: 4px;
    padding: 20px;
    color: var(--text-second);
}